<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    {% include 'links.html' %}

</head>
<body>
<div class="container">
    <h2>Админ панель</h2>

    {% if session.errors %}
        {% for error in session.errors %}
            <div class="alert alert-danger">
                {{ error.getMessage() }}
            </div>
        {% endfor %}
    {% endif %}

    {% include temp %}

</div>
</body>
</html>