<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    {% include 'links.html' %}

</head>
<body>
{% include '/navbar.html' %}

<div class="container">
    {% include temp %}
</div>

{% include '/footer.html' %}

</body>
</html>